<br>
 <div class="jumbotron">
   <h1>Bloccit</h1>
   <p>Bloccit is a resource for sharing links with your friends!</p>
   <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row three-column">
   <div class="col-md-4">
     <h2>Discover</h2>
     <p>Bloccit will help users discover communities and individuals with new ideas, latest trends, breaking news, and anything else.</p>
   </div>
   <div class="col-md-4">
     <h2>Share</h2>
     <p>Bloccit has nearly any topic imaginable that users can share content including stories, links, and images.</p>
   </div>
   <div class="col-md-4">
     <h2>Discuss</h2>
     <p>Bloccit allows users to comment on any posts and discuss what they like or dislike by casting upvotes or downvotes.</p>
   </div>
 </div>
